@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto+Slab:wght@300&display=swap");

:root {
  --primary-color: #ff7f50;
  --secondary-color: #ff4400;
  --dark-color: #461503;
  --light-color: #f4f4f41b;
  --dim-color: rgba(204, 204, 204, 0.827);
  --success-color: #5cb85c;
  --error-color: #d9534f;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Lato, sans-serif;
  color: #333;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style-type: none;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

P {
  margin: 10px 0;
}

img {
  width: 100%;
}

code,
pre {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

/* Navbar */

.navbar {
  background-color: #000;
  color: #fff;
  height: 70px;
}

.navbar h1 {
  color: var(--primary-color);
  font-weight: bold;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 10px;
  margin: 0 5px;
}

.navbar a:hover {
  border-bottom: 2px var(--primary-color) solid;
  color: var(--primary-color);
}

.navbar .flex {
  justify-content: space-between;
}

/* Showcase */

.showcase {
  border-top: 3px #fff solid;
  height: 500px;
  background-color: #000;
  color: #fff;
  position: relative;
}

.showcase-text a {
  animation: slideInFromRight 1s ease-in;
}

.showcase h1 {
  font-size: 50px;
  font-weight: 700;
  text-transform: capitalize;
  color: var(--primary-color);
  margin-bottom: 40px;
  margin-top: 70px;
  text-align: center;
  animation: slideInFromLeft 1s ease-in;
}

.showcase p {
  margin: 40px 0;
  font-size: 20px;
  text-align: center;
  animation: slideInFromLeft 1s ease-in;
}

.flex .btn {
  margin-right: 20px;
}

.showcase::before,
.showcase::after {
  content: "";
  position: absolute;
  height: 100px;
  bottom: -70px;
  right: 0;
  left: 0;
  background-color: var(--primary-color);
  transform: skewY(-2deg);
  -webkit-transform: skewY(-2deg);
  -moz-transform: skewY(-2deg);
  -ms-transform: skewY(-2deg);
}

/* Features */

.features {
  padding-top: 100px;
}

.features-heading {
  font-weight: bold;
  font-size: 30px;
  color: var(--primary-color);
  border-bottom: 2px var(--primary-color) solid;
}

.caps h3 {
  text-transform: uppercase;
  color: var(--primary-color);
  padding-top: 5px;
}

/* Preview */

.flex-img {
  flex-direction: column;
}

/* Decentralized */

.grid-2 {
  grid-template-columns: 4fr 3fr;
  gap: 20px;
}

.text-center .btn:hover {
  background-color: var(--dark-color);
  text-decoration: underline;
  border: 0;
}

/* Sponsors */

.card,
.card-1 {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  height: minmax(150px, 200px);
  width: 200px;
  overflow: hidden;
  padding: 20px;
  margin: 20px 10px;
  transition: transform 0.2s ease-in;
}

.card img {
  width: 100%;
}

.sponsors h2 {
  color: var(--primary-color);
}

.card:hover {
  transform: translateY(-15px);
}

/* Features */

.features-head {
  border-top: 3px #fff solid;
  height: 500px;
  background-color: #000;
  color: #fff;
}

.features-text h1 {
  font-size: 50px;
  font-weight: 700;
  text-transform: capitalize;
  color: var(--primary-color);
  margin-bottom: 40px;
  margin-top: 70px;
  text-align: center;
}

.features-text p {
  margin: 20px 0;
  font-size: 20px;
  text-align: center;
}

.features-sub-head .container img {
  width: 250px;
  justify-self: flex-end;
}

.features-subhead-text h1 {
  color: var(--primary-color);
  font-weight: bold;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  height: 100%;
}

.features-main .grid-3 .card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  width: auto;
  overflow: none;
  padding: 20px;
  transition: transform 0.2s ease-in;
}

.features-main .card > i {
  margin-right: 20px;
}

.features-main .grid-3 > *:last-child {
  grid-column: 1 / span 3;
}

.features-main .grid-3 > *:first-child {
  grid-column: 1 / span 2;
}

/* Documentation */

.card-1 {
  height: auto;
  width: auto;
}

.bg-light {
  background-color: var(--dim-color);
}

.docs-main .grid {
  grid-gap: 30px;
  grid-template-columns: 1fr 2fr;
  align-items: flex-start;
}

.card-1 h3,
.card-1 h2 {
  margin: 20px 0;
  font-weight: bold;
}

.docs-main nav li {
  font-size: 17px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #333;
}

/* Footer */

.social a {
  margin: 0 10px;
}

/* Animation */

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

/* Tablets and under */

@media (max-width: 768px) {
  .grid-3,
  .grid-2,
  .features-main .grid,
  .docs-main .grid {
    grid-template-columns: 1fr;
  }

  .first .flex {
    flex-direction: row;
  }

  .flex {
    flex-direction: column;
  }

  .flex a {
    margin: 10px 0;
  }

  .grid-3 img {
    display: none;
  }

  .decentralized .container {
    height: 400px;
  }

  .lg {
    font-size: 2em;
  }

  .features-main .grid-3 .card {
    grid-column: 1 / span 3;
  }

  .features-head,
  .features-sub-head {
    text-align: center;
  }

  .card {
    height: auto;
  }
}

/* Mobile */

@media (max-width: 500px) {
  .navbar {
    height: 110px;
  }

  .navbar .flex {
    flex-direction: column;
  }
  .navbar ul {
    padding: 10px;
    border-top: 2px solid var(--primary-color);
  }

  .grid-3 img {
    height: 300px;
    justify-self: center;
  }
}
