@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto+Slab:wght@300&display=swap");

:root {
  --primary-color: #ff7f50;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Lato, sans-serif;
  color: #333;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style-type: none;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

P {
  margin: 10px 0;
}

img {
  width: 100%;
}

/* Navbar */

.navbar {
  background-color: #000;
  color: #fff;
  height: 70px;
}

.navbar h1 {
  color: var(--primary-color);
  font-weight: bold;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 10px;
  margin: 0 5px;
}

.navbar a:hover {
  border-bottom: 2px var(--primary-color) solid;
  color: var(--primary-color);
}

.navbar .flex {
  justify-content: space-between;
}

/* Showcase */

.showcase {
  border-top: 3px #fff solid;
  height: 500px;
  background-color: #000;
  color: #fff;
  position: relative;
}

.showcase h1 {
  font-size: 50px;
  font-weight: 700;
  text-transform: capitalize;
  color: var(--primary-color);
  margin-bottom: 40px;
  margin-top: 70px;
  text-align: center;
}

.showcase p {
  margin: 40px 0;
  font-size: 20px;
  text-align: center;
}

.flex .btn {
  margin-right: 20px;
}

.showcase::before,
.showcase::after {
  content: "";
  position: absolute;
  height: 100px;
  bottom: -70px;
  right: 0;
  left: 0;
  background-color: var(--primary-color);
  transform: skewY(-2deg);
  -webkit-transform: skewY(-2deg);
  -moz-transform: skewY(-2deg);
  -ms-transform: skewY(-2deg);
}

/* Features */

.features {
  padding-top: 100px;
}

.features-heading {
  font-weight: bold;
  font-size: 30px;
  color: var(--primary-color);
  border-bottom: 2px var(--primary-color) solid;
}

.caps h3 {
  text-transform: uppercase;
  color: var(--primary-color);
  padding-top: 5px;
}

/* Preview */

.flex-img {
  flex-direction: column;
}
